.TransactionBox {
  margin-top: 40px;
}

.Transaction {
  display: flex;
  align-items: center;
  justify-content: center;
}

.InputTransaction {
  border: none;
  border-bottom: 2px solid #bdbdbd;
  width: 190px;
  margin-right: 30px;
}

.InputTransaction::placeholder,
.Comments::placeholder {
  font-family: 'Circe', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  color: #bdbdbd;
}

.InputTransaction::placeholder {
  text-align: center;
  outline: none;
}

input:focus {
  outline: none;
}

.BtnCalendar {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.Comments {
  width: 100%;
  margin-top: 40px;
  max-width: 410px;
  height: 34px;
  border: none;
  border-bottom: 2px solid #bdbdbd;
  cursor: pointer;
  color: #000000;
  font-size: 18px;
  line-height: 27px;

  padding: 10px;
}

.Comments:focus {
  outline: none;
}

.CommentsBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Datetime {
  font-family: 'Circe', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  border: none;
  border-bottom: 2px solid #bdbdbd;
  width: 190px;
}
