.SpendBox {
  position: relative;
  margin-top: 40px;
  font-family: 'Circe', sans-serif;
}

select {
  width: 100%;
  min-height: 35px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #bdbdbd;
}
