:root {
  --main-text-color: #000000;
  --second-text-color: #ffffff;
  --third-text-color: #24cca7;
  --fourth-text-color: #e0e0e0;
  --fifth-text-color: #4a56e2;
  --sixth-text-color: #ff6596;
  --seventh-text-color: #bdbdbd;

  --main-bg-color: #ffffff;
  --secondary-bg-color: #24cca7;
  --third-bg-color: #4a56e2;
  --fourth-bg-color: #ff6596;
  --fifth-bg-color: #e5e5e5;
}
