@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../assets/Circe-Bold.eot') format('oet'),
    /* Super Modern Browsers */ url('../assets/Circe-Bold.ttf') format('ttf'),
    /* Super Modern Browsers */ url('../assets/Circe-Bold.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../assets/Circe-Regular.eot') format('eot'),
    /* Super Modern Browsers */ url('../assets/Circe-Regular.ttf') format('ttf'),
    /* Super Modern Browsers */ url('../assets/Circe-Regular.woff')
      format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../assets/Poppins-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../assets/Poppins-Bold.woff')
      format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../assets/Poppins-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../assets/Poppins-Regular.woff')
      format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../assets/Circe-Light.eot') format('oet'),
    /* Super Modern Browsers */ url('../assets/Circe-Light.ttf') format('ttf'),
    /* Super Modern Browsers */ url('../assets/Circe-Light.woff') format('woff'); /* Modern Browsers */
}
