@import url('./stylesheet/fonts.css');
@import url('./stylesheet/colors_varibles.module.css');
@import url('./stylesheet/breakpoint.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding-top: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
     
 } */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
