@import '../../styles/variables.scss';

.container {
  width: 100%;
  font-family: Circe;
  min-width: 688px;

  @media screen and (min-width: $desktop) {
    min-width: 700px;
  }
}

.verticalList {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

.headList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  padding: 15px 20px;
  background-color: $main-bg-color;
  border-radius: 30px;
}

.itemTransaction {
  background-color: $main-bg-color;
  border-radius: 10px;
  position: relative;
}

.line {
  position: absolute;
  display: block;
  content: '';
  width: 3px;
  height: 100%;
  background-color: $sixth-text-color;
  border-radius: 10px;
}

.listItem {
  max-width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;

  font-family: Circe;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  padding: 8px 20px;
  border-bottom: 1px solid #dcdcdf;
}

.desktopList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 20px;
}

.desktopListItem {
  // width: calc(100% / 6);
}

.data {
  font-weight: 400;
}
