@import '../../styles/variables.scss';

.TableContainer {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-radius: 30px;
  background: transparent;
  padding: 0;

  font-family: Circe;
  line-height: 1.5;
}

// .col {
//   width: 50%;
// }

// .coln {
//   width: 10%;
// }
// .col3 {
//   width: 20%;
// }

.TableHead {
  text-align: left;
  background: $second-text-color;
  border-radius: 30px;

  // &:first-child {
  //   width: 10%;
  // }

  // &:nth-child(2) {
  //   width: 5%;
  // }

  // &:nth-child(3) {
  //   width: 30%;
  // }

  // &:nth-child(4) {
  //   width: 35%;
  // }

  // &:nth-child(5) {
  //   width: 15%;
  // }

  // &:last-child {
  //   width: 15%;
  // }
}

.TableRow {
  height: 54px;
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  //   font-weight: 400;
  //   font-size: 16px;
}

.TableTh {
  //   font-weight: bold;
  font-size: 18px;
  font-style: 300;

  padding-top: 15px;
  padding-bottom: 15px;

  &:first-child {
    width: 10%;
    border-radius: 30px 0px 0px 30px;
    padding-left: 20px;
  }

  &:nth-child(2) {
    width: 10%;
    text-align: center;
  }

  &:nth-child(3),
  &:nth-child(4) {
    width: 30%;
    text-align: left;
  }

  &:nth-child(5) {
    width: 15%;
    text-align: right;
  }

  &:last-child {
    width: 15%;
    border-radius: 0px 30px 30px 0px;
    padding-right: 20px;
    text-align: right;
  }
}

.TableTd {
  vertical-align: center;
  font-weight: normal;
  font-size: 16px;

  &:first-child {
    width: 10%;
    text-align: left;
    padding-left: 20px;
  }

  &:nth-child(2) {
    width: 10%;
    text-align: center;
  }

  &:nth-child(3),
  &:nth-child(4) {
    width: 30%;
    text-align: left;
  }

  &:nth-child(5) {
    width: 15%;
    text-align: right;
  }

  &:last-child {
    width: 15%;
    text-align: right;
    padding-right: 20px;
  }
}

// -----------------------------------------
// @import '../../styles/variables.scss';

// .container {
//   width: 100%;
//   font-family: Circe;
//   min-width: 688px;

//   @media screen and (min-width: $desktop) {
//     min-width: 700px;
//   }
// }

// .verticalList {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   border-bottom: 1px solid #dcdcdf;
//   box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
// }

// .headList {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   justify-content: space-between;
//   font-size: 18px;
//   line-height: 27px;
//   font-weight: 700;
//   padding: 15px 20px;
//   background-color: $main-bg-color;
//   border-radius: 30px;
// }

// .itemTransaction {
//   background-color: $main-bg-color;
//   border-radius: 10px;
//   position: relative;
// }

// .line {
//   position: absolute;
//   display: block;
//   content: '';
//   width: 3px;
//   height: 100%;
//   background-color: $sixth-text-color;
//   border-radius: 10px;
// }

// .listItem {
//   max-width: 280px;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-content: space-between;

//   font-family: Circe;
//   font-size: 18px;
//   line-height: 27px;
//   font-weight: 700;
//   padding: 8px 20px;
//   border-bottom: 1px solid #dcdcdf;
// }

// .desktopList {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   padding: 15px 20px;
// }

// // .desktopListItem {
// //   // width: calc(100% / 6);
// // }

// .data {
//   font-weight: 400;
// }
