@import '../../styles/variables.scss';

.ModalActive {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.ModalContent {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  max-width: 320px;
  border-radius: 20px;
  background-color: $second-text-color;

  @media screen and (min-width: 767px) {
    max-width: 410px;
    min-height: 597px;
    padding: 20px 65px;
  }
}

.ModalActive {
  opacity: 1;
  pointer-events: all;
}

.BtnClose {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  color: $main-text-color;
  text-align: center;
}

.BtnBox {
  margin-top: 20px;
  text-align: center;
}

.FormBox {
  font-family: 'Circe', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  color: #e0e0e0;
  text-align: center;
  align-items: center;
}

.ToggleswitchBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TextActive {
  color: #ff6596;
}

.TextNotActive {
  color: #e0e0e0;
}

// /* The slider */
.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  transition: 0.4s;
}

.Slider:before {
  position: absolute;
  left: -4px;
  bottom: 2px;
  top: -2px;
  content: '';
  height: 44px;
  width: 44px;
  background-color: #24cca7;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  transition: 0.4s;
}

input:checked + .Slider:before {
  background-color: #ff6596;
  box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
  transform: translateX(44px);
}

// /* Rounded sliders */
.Slider:before {
  border-radius: 50%;
}
