@import url(../../styles/stylesheet/breakpoint.css);
@import url(../../styles/stylesheet/colors_varibles.module.css);


.Modale {
    position: absolute;
    top: 0;
    bottom: -50px;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 80px 20px 80px;
    background-color: rgb(130, 130, 174, 0.8);


}


.Container {
    position: relative;
    border-radius: 15px;
background-color: #fff;


text-align: center;
box-shadow: 2px 2px 10px rgb(57, 54, 54), -2px 2px 10px rgb(66, 61, 61);
padding: 80px 10px 80px;
}

h1 {
    font-size: 30px;
    color: rgb(130, 130, 174, 0.7);
    text-shadow: 2px 2px 2px rgb(57, 54, 54), -2px 2px 2px rgb(66, 61, 61);

}

@media screen and (min-width: 768px) {
h1 {
    margin-bottom: 50px;
}

.Container {
    width: 600px;
    margin: 100px auto 0;
}
}

.Item {
margin-bottom: 20px;
}

.Close {
    position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        padding: 0;
        border: 1px solid var(--fifth-text-color);
        background-color: rgb(130, 130, 174, 0.5);
        border-radius: 50%;
        margin-left: auto;
        fill: currentColor;
        cursor: pointer;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .Close:hover,
    .Close:focus {
        background-color: var(--third-text-color);
    }