:root{
--main-text-color: #000000;
--second-text-color: #FFFFFF;
--third-text-color: #24CCA7;
--fourth-text-color: #E0E0E0;
--fifth-text-color: #4A56E2;
--sixth-text-color: #FF6596;


--bg-color: #FFFFFF;
--secondary-bg-color:#24CCA7;
--third-bg-color:#4A56E2;
--fourth-bg-color:#FF6596;
}