@import '../../styles/variables.scss';

.Container {
  font-family: Circe;
  padding: 11px 20px 22px 20px;
  max-width: 240px;
  border-radius: 30px;
  background: linear-gradient(to bottom, #6e78e8 25%, $third-bg-color 25% 100%);
  color: $second-text-color;
  background-image: url('../../images/currency/tablet.png');
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet) {
    min-width: 294px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 288px;
    max-height: 313px;
    padding: 17px 30px 134px;
    background-image: url('../../images/currency/desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.HorizontalList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Data {
  margin-top: 22px;
  @media screen and (min-width: $desktop) {
    margin-top: 36px;
  }
}

.CurrencyItem {
  font-weight: 400;
  &:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 23px;
    }
  }
}
