@import url(../../styles/stylesheet/colors_varibles.module.css);

.registration__main_container {
  position: relative;
  top: 110px;
}

.registration__container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/* Wallet */
.registration__logo {
  margin-bottom: 50px;
  width: 119.46px;
  height: 30px;
}

.registration__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.registration__form_container {
  position: relative;
  margin-bottom: 40px;
}

.registration__icons {
  position: absolute;
  top: 5px;
}

.error {
  color: red;
  font-size: 15px;
  font-weight: 600;
}

.registration__input {
  width: 280px;
  height: 34px;

  padding-left: 44px;

  border: none;
  border-bottom: 1px solid var(--fourth-text-color);
}

.registration__input:focus {
  outline: none;
}

.registration__input::placeholder {
  color: var(--seventh-text-color);
  /* Gray 5 */

  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.registration__button {
  width: 280px;
  height: 50px;
  cursor: pointer;

  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  text-align: center;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-bottom: 20px;
  border: 1px solid var(--fifth-text-color);
  background-color: var(--second-text-color);
  border-radius: 20px;
  margin-bottom: 0;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.registration__button:hover,
.registration__button:focus {
  color: var(--second-text-color);
  background: var(--third-text-color);
  border-color: transparent;
}

@media screen and (min-width: 768px) {
  .registration__main_container {
    top: 0;
    margin: 0;
    height: 100vh;
    background-color: var(--fifth-bg-color);
    padding: 0;
  }

  .registration__man {
    position: absolute;
    width: 260.26px;
    height: 250px;
    left: 114px;
    top: 40px;

    background-image: url(../../images/registration-login/FrameRegTab.svg);

    background-repeat: no-repeat;
  }

  .registration__purple {
    position: absolute;
    width: 515px;
    height: 347px;
    background-size: contain;
    bottom: 0;
    left: -53.33px;

    background-image: url(../../images/registration-login/EllipsePurpuleDesc.png);

    background-repeat: no-repeat;
  }

  .registration__pink {
    position: absolute;
    width: 368px;
    height: 447px;
    right: 0;
    top: 0;

    background-image: url(../../images/registration-login/FinanceApp.svg),
      url(../../images/registration-login/EllipsePinkTablet.png);
    background-position: top 170px left 15px, top 0 right 0;
    background-repeat: no-repeat;
  }

  .registration__container {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 540px;
    padding: 40px 65px 60px 65px;
    margin: 0 auto;
    background: var(--main-bg-color);
    border-radius: 20px;
  }

  .registration__input {
    width: 409px;
  }
}

@media screen and (min-width: 1280px) {
  .registration__main_container {
    padding: 0 85px 0 655px;
  }

  .registration__man {
    position: absolute;
    width: 435.2px;
    height: 419.5px;

    left: 76px;
    top: 160px;

    background-image: url(../../images/registration-login/FrameRegDesc.svg);
    background-repeat: no-repeat;
  }
  .registration__pink {
    position: absolute;
    width: 720px;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;

    background-image: url(../../images/registration-login/ElipsePinkDesc.png);
    background-size: cover;
    background-position: top 0 right 0;
    background-repeat: no-repeat;
  }
  .registration__purple {
    position: absolute;
    width: 520px;
    height: 347px;
    background-size: contain;
    bottom: 0;
    left: -53.33px;

    background-image: url(../../images/registration-login/FinanceApp.svg),
      url(../../images/registration-login/EllipsePurpuleDesc.png);
    background-position: top 215px left 240px, top 0 left 0;
    background-size: 200px, 520px;
    background-repeat: no-repeat;
  }

  .registration__container {
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 409px;
  }
}
